Library/*
Logs/*
Packages/*
Temp/*
obj/*
Cache/*
.idea/*
.vs/*
*.csproj
*.sln
ProjectSettings/ProjectVersion.txt
SimpleGameFrame.v12.suo
.vsconfig
ProjectSettings/ProjectVersion.txt
ProjectSettings/ProjectSettings.asset
ProjectSettings/GraphicsSettings.asset
ProjectSettings/EditorBuildSettings.asset
Assets/Resources/DOTweenSettings.asset
